@model IEnumerable<ITST.Models.Device>

@{
    ViewBag.Title = "EditLocationStock";
}

<h2>EditLocationStock</h2>

<table class="table table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.LocationStockName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SerialNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Brand.BrandName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DeviceType.Type)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Model.ModelName)
        </th>

        <th>
            @Html.DisplayName("Status")
        </th>

        <th>
            @Html.DisplayNameFor(model => model.DateCreate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateBy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationStockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
        <td>
            @Html.ActionLink("Edit LocationStock", "SetLocationStock", new { id = item.DeviceID }) 
        </td>
    </tr>
}

</table>


