@{
    ViewBag.Title = "InRepairByProductionReport";
}

<h2>รายงาน</h2>
<h4>การแจ้งซ่อมสแกนเนอร์</h4>
<hr />

<table class="table table-bordered" id="myTable">
    <thead>
        <tr class="active">
            <th></th>
            <th>Action</th>
            <th>DateInRepaired</th>
            <th>InformedBy</th>
            <th>InformedName</th>
            <th>DateReceived</th>
            <th>ReceivedBy</th>
            <th>SerialNumber</th>
            <th>Model</th>
            <th>Cause</th>
            <th>Plant</th>
            <th>Department</th>
            <th>Location</th>
            <th>Phase</th>
            <th>Machine</th>
            <th>LocationStock</th>
        </tr>
    </thead>
</table>

@section Scripts{

<script>
    $(document).ready(function () {
        $.fn.dataTable.moment('HH:mm MMM D, YY');
        $.fn.dataTable.moment('dddd, MMMM Do, YYYY');
        $.fn.dataTable.moment('DD/MM/YYYY, h:mm:ss a');
        $('#myTable').DataTable({
            responsive: {
                details: {
                    renderer: function (api, rowIdx, columns) {
                        var data = $.map(columns, function (col, i) {
                            return col.hidden ?
                                '<tr data-dt-row="' + col.rowIndex + '" data-dt-column="' + col.columnIndex + '">' +
                                    '<td>' + col.title + ':' + '</td> ' +
                                    '<td>' + col.data + '</td>' +
                                '</tr>' :
                                '';
                        }).join('');

                        return data ?
                            $('<table/>').append(data) :
                            false;
                    }
                }
            },
            "ajax": {
                "url": '@Url.Action("loadDataScannerInrepair")',
                "type": "GET",
                "datatype": "json"
            },
            dom: 'Bfrtip',
            buttons: [
                'copy', 'excel', 'pdf'
            ],
            "columns": [
                     {
                         "className": 'details-control',
                         "orderable": false,
                         "data": null,
                         "defaultContent": ''
                     },
                    {
                        "data": "InRepairID",
                        "render": function (data, type, row) {
                            if (row.ReceivedBy == null && row.ReturnedBy == null) {
                                return '<a href="@Url.Action("setReceivedDevice/")' + data + '">Receive</a>' + " | " + '<a href="@Url.Action("setReturnDevice/")' + data + '">Return</a>';
                             }
                             else if (row.ReceivedBy != null && row.ReturnedBy == null) {
                                 return '<a href="@Url.Action("setReturnDevice/")' + data + '">Return</a>';
                             }
                             else if (row.ReceivedBy == null && row.ReturnedBy != null) {
                                 return '<a href="@Url.Action("setReceivedDevice/")' + data + '">Receive</a>';
                            }
                            else if (row.ReceivedBy != null && row.ReturnedBy != null) {
                                return '';
                            }

                        },
                        "autoWidth": true
                    },
                    {
                        "data": "DateRequest",
                        "render": function (data, type, row) {
                            var rowvalueallday = row.DateCreate;
                            if (rowvalueallday == '0000-00-00') {
                                var gdat = '1900-01-01';
                                return (moment(gdat).format("DD/MM/YYYY, h:mm:ss a"));
                            } else {
                                return (moment(data).format("DD/MM/YYYY, h:mm:ss a"));
                            }
                        },
                        "autoWidth": true
                    },
                        { "data": "RequestBy", "autoWidth": true },
                        { "data": "RequestFullName", "autoWidth": true },
                    {
                        "data": "DateReceived",
                        "render": function (data, type, row) {
                            var rowvalueallday = row.DateReceived;
                            if (rowvalueallday == '0000-00-00') {
                                var gdat = '1900-01-01';
                                return (moment(gdat).format("DD/MM/YYYY, h:mm:ss a"));
                            } if (rowvalueallday == null) {
                                return " ";
                            }
                            else {
                                return (moment(data).format("DD/MM/YYYY, h:mm:ss a"));
                            }
                        },
                        "autoWidth": true
                    },
                        { "data": "ReceivedBy", "autoWidth": true },
                        { "data": "SerialNumber", "autoWidth": true },
                        { "data": "Model", "autoWidth": true },
                        { "data": "Cause", "autoWidth": true },
                        { "data": "Plant", "autoWidth": true },
                        { "data": "Department", "autoWidth": true },
                        { "data": "Location", "autoWidth": true },
                        { "data": "Phase", "autoWidth": true },
                        { "data": "Machine", "autoWidth": true },
                        { "data": "LocationStock", "autoWidth": true }
            ]
        });
    });
</script>
}