@model ITST.ViewModels.ScannerInRepair

@{
    ViewBag.Title = "InformRepair Scanner";
}

<h2>แบบฟอร์มแจ้งซ่อม</h2>
<h4>อุปกรณ์สแกนเนอร์</h4>


    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <strong>สแกนเนอร์หมายเลขซีเรียลนี้ยังไม่มีในระบบ <br />
        
        กรอกข้อมูลให้ถูกต้อง 1.ชื่อโมเดลของอุปกรณ์ 2.ชื่อเครื่องจักรที่ใช้งาน 3.อาการที่เสีย 4.สถานที่เก็บ 5.รหัสพนักงานผู้แจ้ง <br />
        หากไม่แน่ใจในข้อมูลแจ้งแผนกไอที เบอร์โทรภายใน 2512, 2508
        </strong>
    </div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.DeviceID)

        <div class="panel panel-primary">
            <div class="panel-heading">ใบแจ้งซ่อม</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">ข้อมูลของอุปกรณ์</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Model, "Model", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Model, new { @class = "form-control", @placeholder = "ชื่อโมเดล", id = "SearchString" })
                                        @Html.ValidationMessageFor(model => model.Model)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.SerialNumberR, "SerialNumber", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.SerialNumberR, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.SerialNumberR)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Machine, "Machine", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.Machine, new { @class = "form-control" ,@placeholder = "ชื่อเครื่องจักร", id = "SearchString1" })
                                        @Html.ValidationMessageFor(model => model.Machine)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.CauseRepair, "Cause", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.CauseRepair, new { @class = "form-control", @placeholder = "กรอกอาการที่เสีย", rows = 10, columns = 30 })
                                        @Html.ValidationMessageFor(model => model.CauseRepair)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">ข้อมูลผู้แจ้งซ่อม</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.RequestBy, "EmployeeID", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.RequestBy, new { @class = "form-control", @placeholder = "รหัสพนักงาน" })
                                        @Html.ValidationMessageFor(model => model.RequestBy)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "ชื่อ" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "นามสกุล" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @if (ViewBag.FalseStatus == null)
                    {
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
    $(document).ready(function () {
        $("#SearchString").autocomplete({
            autoFocus: true,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("FindModelScanner", "Device")',
                    data: "{ 'prefixText': '" + request.term + "' }",
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.value,
                                //value: item.id,
                                value: item.name,
                            }
                        }))
                    },
                    messages: {
                        noResults: "", results: ""
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            minLength: 1,
        });
    });
    </script>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#SearchString1").autocomplete({
            autoFocus: true,
            source: function (request, response) {
                $.ajax({
                    url: '@Url.Action("FindMachineName","Device")',
                    data: "{ 'prefixText': '" + request.term + "' }",
                    dataType: "json",
                    dataFilter: function (data) { return data; },
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        response($.map(data, function (item) {
                            return {
                                label: item.value,
                                //value: item.id,
                                value: item.name,
                            }
                        }))
                    },
                    messages: {
                        noResults: "", results: ""
                    },
                    error: function (response) {
                        alert(response.responseText);
                    },
                    failure: function (response) {
                        alert(response.responseText);
                    }
                });
            },
            minLength: 1,
        });
    });
    </script>
}
