@model IEnumerable<ITST.Models.Device>

@{
    ViewBag.Title = "Recently Updated";
}

<h2>Recently Updated</h2>

<table class="table table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayName("LocationStock")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType.Type)
        </th>
        <th>
            @Html.DisplayName("Model")
        </th>
        <th>
            @Html.DisplayName("Brand")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specification)
        </th>
        <th>
            @Html.DisplayName("Machine")
        </th>
        <th>
            @Html.DisplayName("Status")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateUpdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdateBy)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationStockName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceType.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model.ModelName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand.BrandName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machine.MachineName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.Status1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdateBy)
            </td>
        </tr>
    }

</table>
