@model IEnumerable<ITST.Models.Device>

@{
    ViewBag.Title = "SentRepair";
}

<h2>Sent Repair</h2>

<h4>Device</h4>
<hr />

<table class="table table-bordered" id="lists">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationStockName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.DeviceType.Type)
            </th>
            <th>
                @Html.DisplayName("Model")
            </th>
            <th>
                @Html.DisplayName("Brand")
            </th>
            <th>
                @Html.DisplayName("Plant")
            </th>
            <th>
                @Html.DisplayName("Department")
            </th>
            <th>
                @Html.DisplayName("Location")
            </th>
            <th>
                @Html.DisplayName("Phase")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine.MachineName)
            </th>
            <th>
                @Html.DisplayName("User")
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationStockName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.MachineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Status1)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Device", new { id = item.DeviceID }, null) |
                    @Html.ActionLink("Details", "Details", "Device", new { id = item.DeviceID }, null)
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("table#lists").dataTable({
                dom: 'Bfrtip',
                lengthMenu: [
                    [10, 25, 50, -1],
                    ['10 rows', '25 rows', '50 rows', 'Show all']
                ],
                buttons: [
                    'pageLength'
                ],
                extend: 'collection',
                text: 'Export',
                buttons: [
                    'pageLength',
                    'copy',
                    'excel',
                    'csv'
                ],
                "sPaginationType": "full_numbers"
            });
        })
    </script>
}
