@model IEnumerable<ITST.Models.Machine>

@{
    ViewBag.Title = "listCartridgePrinter";
}

<h2>Cartridge Printer</h2>
<h4>Machine</h4>
<hr />

<p>
    <a href="@Url.Action("CreateCartridgePrinter", "Machine")" class="btn btn-success" style="margin:2px"><span class="glyphicon glyphicon-plus-sign"></span> Create</a>
</p>

<table class="table table-bordered" id="list">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.MachineName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MachineID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MachineID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MachineID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", null, null, null, new { href = Request.UrlReferrer, @class = "btn btn-primary" })
</div>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(function () {
            $("table#list").dataTable({
                "sPaginationType": "full_numbers"
            });
        })
    </script>
}