@model ITST.Models.User

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="panel panel-primary">
            <div class="panel-heading">Create Machine</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Set User Information</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.FirstName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.FirstName, new { @class = "form-control", @placeholder = "FirstName - Required" })
                                        @Html.ValidationMessageFor(model => model.FirstName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LastName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.LastName, new { @class = "form-control", @placeholder = "LastName - Required" })
                                        @Html.ValidationMessageFor(model => model.LastName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.EmployeeID, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.EmployeeID, new { @class = "form-control"})
                                        @Html.ValidationMessageFor(model => model.EmployeeID)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DeviceName, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DeviceName, new { @class = "form-control", @placeholder = "DeviceName - Required" })
                                        @Html.ValidationMessageFor(model => model.DeviceName)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.IPAddress, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.IPAddress, new { @class = "form-control", @placeholder = "IPAddress - Required" })
                                        @Html.ValidationMessageFor(model => model.IPAddress)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserLogOn, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.UserLogOn, new { @class = "form-control", @placeholder = "UserLogOn - Required" })
                                        @Html.ValidationMessageFor(model => model.UserLogOn)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading">Set User Location</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.PlantID, "PlantID", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("PlantID", null, String.Empty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PlantID)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.DepartmentID, "DepartmentID", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("DepartmentID", null, String.Empty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.DepartmentID)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.LocationID, "LocationID", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("LocationID", null, String.Empty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LocationID)
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.PhaseID, "PhaseID", new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.DropDownList("PhaseID", null, String.Empty, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PhaseID)
                                    </div>
                                </div>

                                <div class="hidden">
                                    @Html.LabelFor(model => model.DateCreate, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DateCreate, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.DateCreate)
                                    </div>
                                </div>

                                <div class="hidden">
                                    @Html.LabelFor(model => model.DateUpdate, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.DateUpdate, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.DateUpdate)
                                    </div>
                                </div>

                                <div class="hidden">
                                    @Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.CreateBy, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.CreateBy)
                                    </div>
                                </div>

                                <div class="hidden">
                                    @Html.LabelFor(model => model.UpdateBy, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.UpdateBy, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.UpdateBy)
                                    </div>
                                </div>

                                <div class="hidden">
                                    @Html.LabelFor(model => model.PreviousUri, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextBoxFor(model => model.PreviousUri, new { @class = "form-control", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(model => model.PreviousUri)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Create" class="btn btn-success" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
