@model IEnumerable<ITST.Models.User>

@{
    ViewBag.Title = "ListUser";
}

<h2>ListUser</h2>
<h4>User</h4>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered" id="listUser">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayName("Index")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserLogOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plant.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhaseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @{
            var i = 0;
        }

        @foreach (var item in Model)
        {
            i = i + 1;
            <tr>
                <td>
                    @i
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserLogOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plant.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhaseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.UserID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.UserID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("table#listUser").dataTable({
                "sPaginationType": "full_numbers"
            });
        })
    </script>
}