@model IEnumerable<ITST.Models.User>

@{
    ViewBag.Title = "UserByPlant";
}

<h2>User</h2>
<h4>By Plant</h4>
<hr />

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>

<table class="table table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.Plant.PlantName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("UserByDepartment", "User", new { id = item.PlantID})">@Html.DisplayFor(modelItem => item.Plant.PlantName)</a>
            @{
    var db = new ITST.Models.ITStockEntities1();
    var TotalDevicePerType = db.Users.Where(d => d.PlantID == item.PlantID).Count();
            }
            <span class="badge badge-info">@TotalDevicePerType</span>
        </td>
    </tr>
}

</table>
