@model IEnumerable<ITST.Models.Device>

@{
    ViewBag.Title = "ListInstockPrintByModel";
}

<h2>Report Generator</h2>
<h4>By Model</h4>
<hr />


<table class="table table-bordered" id="list">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand.BrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeviceType.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationStockName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Plant.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine.MachineName)
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specification)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceType.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationStockName)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Plant.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Machine.MachineName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Status1)
                </td>

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.DeviceID }) |
                    @Html.ActionLink("Details", "Details", new { id=item.DeviceID }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.DeviceID })
                </td>*@
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("table#list").dataTable({
                "sPaginationType": "full_numbers"
            });
        })
    </script>
}