@model IEnumerable<ITST.Models.Device>

@{
    ViewBag.Title = "ListInstockPrintByPlant";
}

<h2>Report Generator</h2>
<h4>By Department</h4>
<hr />

<table class="table table-bordered">
    <tr class="active">
        <th>
            @Html.DisplayNameFor(model => model.Department.DepartmentName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("listDataByLocation", "PrintLog", new { did = item.DepartmentID, pid = item.PlantID, sid = @ViewBag.StatusID })">@Html.DisplayFor(modelItem => item.Department.DepartmentName)</a>
            @{
    int st = @ViewBag.StatusID;
    var db = new ITST.Models.ITStockEntities1();
    var DevicePerDept = db.Devices.Where(d => d.DepartmentID == item.DepartmentID && d.PlantID == item.PlantID && d.StatusID == st).Count();
            }
            <span class="badge badge-info">@DevicePerDept</span>
        </td>
        <td>
            @Html.ActionLink("Print", "ExportData", new { pid = item.PlantID, did = item.DepartmentID, sid = @ViewBag.StatusID })
        </td>
    </tr>
}

</table>
