@model ITST.Models.LimitDeviceQuantity

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LimitDeviceQuantity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Plant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Department)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phase)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Machine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Machine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxQuantity)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
