@model ITST.Models.LimitDeviceQuantity

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>LimitDeviceQuantity</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Plant, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Plant, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Plant)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Department, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Department, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Department)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Location, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Location, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Location)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phase, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Phase, new { @class = "form-control", @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.Phase)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Machine, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Machine, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Machine)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DeviceType, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.DeviceType, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DeviceType)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaxQuantity, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.MaxQuantity, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaxQuantity)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
