@model IEnumerable<ITST.Models.Plant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class="btn btn-success"})
</p>
<table class="table table-bordered" id="list">
    <thead>
        <tr class="active">
            <th>
                @Html.DisplayNameFor(model => model.PlantName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdateBy)
            </th>
            <th></th>
        </tr>
    </thead>
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PlantName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUpdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreateBy)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdateBy)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PlantID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PlantID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PlantID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(function () {
            $("table#list").dataTable({
                "sPaginationType": "full_numbers"
            });
        })
    </script>
}